<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="tests.functional" verbose="1">
    <test name="test">
        <classes>
            <class name="tests.functional.CreateSuiteTest"/>
            <!--<class name="tests.functional.CreateCaseTest"/>-->
            <!--<class name="tests.functional.CreateStepsTest"/>-->
        </classes>
    </test>
</suite>